<h2><%= quiz.escape("title") %> quiz</h2>

<p><%= quiz.escape("description") %></p>
<hr>
<form> 
  <ul class="questions"></ul>
  <input type=submit class="btn btn-default">
</form>

<hr>
<a href="/">See quiz list</a> |
<a href="<%= '/#/quiz/' + quiz.id %>">Edit this quiz</a>