<h3>You have completed the <%= quiz.escape("title") %> quiz</h3>
<h4>Here are the answers:</h4>
<hr>
<ul class="questions"></ul>
<hr>
<a href="/">See quiz list</a> | 
<a href="<%= '/#/quiz/' + quiz.id %>">Edit this quiz</a>