<% if !@quiz.questions.empty? %>
  <p><strong>Questions:</strong></p>

    <% @quiz.questions.each do |question| %>
      <p><%= question.body %></p>
        <% if can? :update, @question %>
        <table class='table'>
          <tr>
            <td><%= button_to "Edit Question", 
                  edit_quiz_question_url(@quiz, question),
                  method: :get, class: "btn btn-default" %></td>
            <td><%= button_to "Delete", 
                  question_url(question), method: :delete,
                  class: "btn btn-default" %></td>
          </tr> 
        </table>     
        <% end %>  
    <% end %>
<% end %>

<% if can? :update, @quiz %>
  <%= button_to "Add a question to this quiz", 
              new_quiz_question_url(@quiz),
              method: :get, class: "btn btn-default" %>
<% end %>