<h2>Choose a quiz:</h2>

<ul>
  <% quizzes.each(function(quiz) { %>
    <% var url = '#quiz/' + quiz.id %>
    <li><a href="<%=url%>"><%= quiz.escape("title") %></a>
        <% if (user.get('instructor')) { %> 
          <%= '<button>Edit</button> <button>Delete</button>' %>
        <% } %>
    </li>
  <% }); %>
</ul>