<h3><%= quiz.escape("title") %></h3>
<p><%= quiz.escape("description") %></p>
<button id="editQuizButton"
        class="btn btn-default">Edit Quiz Info</button>

<button class="btn btn-default questionAdd">Add a question</button>
<button class="btn btn-default newQuizResult">Take the quiz!</button>

<ul class="questions"></ul>

<div class="questions-new"></div>