<h3><%= quiz.escape("title") %></h3>
<p><%= quiz.escape("description") %></p>
<button id="editQuizButton"
        class="btn btn-default">Edit Quiz Info</button>

<ul class="questions"></ul>

<div class="questions-new"></div>